page-tabs {
    ion-content {
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
        margin-left: 10%;
        margin-top: 10%,
    }
}
